@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(32, 31, 31);
  height: 1300px;
  width: 100%;
  background: linear-gradient(141deg, #e7cdaa 30%, #d3bacfaf 75%, #a8d1f3 20%);
}

.App {
  max-width: 728px;
  margin: 6rem auto;
}

.Card--text h1 {
  color: #ff9900;
  font-size: 1em;
}

.Card--text svg {
  color: rgb(95, 92, 92);
  font-size: 1em;
}


.currentfriend-button {
  border: none;
  background-color: transparent;
  margin-right: 1em;
}


/* .Form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #444;
    margin-bottom: 1rem;
}

.Form > div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.Form input,
.Form select {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  margin: 0.3rem 1rem 0 0;
}

.Form button {
  background: #ff9900;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}


.hide-button {
  display: none;
}

a.nav-link:hover {
  text-decoration: none;
  color:#DB7093;
}

a.nav-link {
  color:black;
}

